/.vscode
/acne1_detector_mobilenetv2.h5
/all
/Backend
/beautelligent_visual_analysis_enhanced_grid.png
/beautelligent_visual_analysis_grid.png
/beautelligent_visual_analysis_grid_advanced.png
/best_model.h5
/best_model_b3.h5
/best_skin_classifier.h5
/best_skin_model.h5
/dark_detector.h5
/final_skin_type_model.h5
/gui.py
/gui1.py
/images
/pigmentation_detector.h5
/q.py
/q1.py
/skin_type_classifier.h5
/venv
/visual_analysis_grid.png